*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
header{
    top:0;
    position:sticky;
    z-index:20;
    height: 5vw;
    width: 100%;
    background-color: rgb(90, 147, 150);
    box-shadow: 0 2px 8px rgb(58, 36, 36)
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav h2{
    color: white;
}
.mid{
    display: flex;
}
.mid h3{
    margin-left: 3vw;
     color: white;
}
nav button{
    padding: 8px 16px 8px 16px;
    font-weight: bold;
   color: rgb(87, 201, 6);
   border: none;
   border-radius: 0.5vw;

}
nav i{
    display: none;
}
main{
    height: calc(100% - 15vw);
    width: 100%;
    background-image: url(./image3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    color:  black;
    font-size: 4vw;
}
h4{
    text-align: center;
    font-size: 2vw;
}
button{
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
    margin: 1vw;
    color: aqua;
    background-color: black;
    border: none;
    border-radius: 13px;
    font-weight: bold;
}
.s h2{
    font-size: 2.8vw;
    padding: 20px;
    margin-right: 35px;
    color: rgb(88, 207, 14);
}
.s i p{
    font-size: 1.8vw;
    margin: 20px;
    color: rgb(23, 138, 138);
   
}

.max{
    height: calc(100% - 28vw);
    width: 100%;
}
.parent{
    height: 60%;
    width: 100%;
    display: flex;
}
.child1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 50px;
}
.child1 h1{
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.child1 p{
    font-size: 20px;
   
}

.child2{
    height: 100%;
    width: 50%;
    background-image: url(./image4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gallery{
    /* margin-left: 20px; */
    text-align: center;
    padding: 30px;
    /* background-color: rgb(143, 128, 109); */
    color: rgb(22, 185, 185);
}
.outer{
    height: 20vw;
    width: 25vw;
    /* background-color: aqua; */
    display: flex;
    
}
.inner {
      height: 20vw;
      width: 40vw;
      padding: 5px;
      background-color: white;
      border-radius: 2px;
      flex-direction: column;
      justify-self: flex-end;
      align-items:end;
      border: 2px solid red;
      border-radius: 15px;
       box-shadow: 0 2px 20px rgb(182, 179, 179)

    }

    .image-wrapper {
      text-align: center;
      margin-bottom: 12px;
      
    }

    .image-wrapper img {
        height: 15vw;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        border-radius: 25px;
        padding: 5px;
    }
    /* .text{
        background-color: antiquewhite;
    } */

    .text p {
      line-height: 1;
      margin: 10px 0;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    
    }
    .div{
        display: flex;
    }
   .outer1{
    height: 20vw;
    width: 25vw;
    /* background-color: aqua; */
    display: flex;
}
.inner1 {
      height: 20vw;
      width: 40vw;
      padding: 5px;
      background-color: white;
      border-radius: 2px;
      flex-direction: column;
      justify-self: flex-end;
      align-items:end;
      border: 2px solid red;
      border-radius: 15px;
      box-shadow: 0 2px 20px rgb(182, 179, 179)
    }

    .image-wrapper1 {
      text-align: center;
      margin-bottom: 12px;
      
    }

    .image-wrapper1 img {
        height: 15vw;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        border-radius: 25px;
        padding: 5px;
    }
    /* .text1{
        background-color: antiquewhite;
    } */

    .text1 p {
      line-height: 1;
      margin: 10px 0;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    
    }

    .outer2{
    height: 20vw;
    width: 25vw;
    /* background-color: aqua; */
    display: flex;
}
.inner2 {
      height: 20vw;
      width: 40vw;
      padding: 5px;
      background-color: white;
      border-radius: 2px;
      flex-direction: column;
      justify-self: flex-end;
      align-items:end;
      border: 2px solid red;
      border-radius: 15px;
      box-shadow: 0 2px 20px rgb(182, 179, 179)   
    }

    .image-wrapper2 {
      text-align: center;
      margin-bottom: 12px;
      
    }

    .image-wrapper2 img {
        height: 15vw;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        border-radius: 25px;
        padding: 5px;
    }
    /* .text2{
        background-color: antiquewhite;
    } */

    .text2 p {
      line-height: 1;
      margin: 10px 0;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    
    }
    .outer3{
    height: 20vw;
    width: 25vw;
    /* background-color: aqua; */
    display: flex;
}
.inner3 {
      height: 20vw;
      width: 40vw;
      padding: 5px;
      background-color: white;
      border-radius: 2px;
      flex-direction: column;
      justify-self: flex-end;
      align-items:end;
      border: 2px solid red;
      border-radius: 15px;
      box-shadow: 0 2px 20px rgb(182, 179, 179)
    }

    .image-wrapper3 {
      text-align: center;
      margin-bottom: 12px;
      
    }

    .image-wrapper3 img {
        height: 15vw;
        width: 100%;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        border-radius: 25px;
        padding: 5px;
    
    }
    /* .text3{
        background-color: antiquewhite;
    } */
    

    .text3 p {
      line-height: 1;
      margin: 10px 0;
      color: rgb(0, 0, 0);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    
    }
    .b{
        background-color: aqua;
    }
 .contact-form .row{
  display:flex;
  gap:10px;
  margin-bottom:6px;
}
.contact-form input, .contact-form textarea{
  width:100%;
  padding:10px 12px;
  border-radius:10px;
  border:1px solid rgba(123,63,45,0.08);
  outline:none;
  margin: 2px;
}
.section h3{
    font-size: 30px;
    color: blue;
    /* text-align: center; */
    margin: 20px;
    padding: 5px;
}
.form-actions{margin-top:0px}

footer{
    height: 10vw;
    width: 100%;
    background-color: blue;
}

    
@media (max-width:700px) {
    header{
     height: 18vw;
    }
    nav h2{
        font-size: 20px;
    }
    .mid{
        display: none;
    }
    nav button{
        display: none;
    }
    nav i{
        display: inline-block;
        font-size: 20px;
        margin: 5px;
        font-weight: bold;
        color: white;
    }
    main{
        height: calc(100% - 18vw);
        flex-direction: column;
    }
    p{
        font-size: 9vw;
    }
    h4{
        font-size: 7vw;
    }
    button{
        font-size: 3vw;
    }
    section{
        font-size: 3vw;
    }
    h2{
        font-size: 20px;
    }
    .s h2{
        font-size: 30px;
    }
    .s i p{
        font-size: 20px;
        padding: 20px;
    }
   .max{
    height: calc(100% - 28vw);
     flex-direction: column;
   }
   .parent{
    flex-direction: column;
    font-size: 20px;
   }
   .child1{
    height: 50%;
    width: 100%;
   }
   .child1 p{
    font-size: 15px;
   
   }
   .child2{
    height: 50%;
    width: 100%;
   }
   
 .div{
    flex-direction: column;
    justify-content: center;
    align-self: center;
    
 }
 .outer{
    flex-direction: column;
    height: 50vw;
    width: 100%;
   
 }
 .inner{
    height: 100vw;
    width: 100vw; 
     align-items: center;
    justify-content: center;
 }
 .image-wrapper{
   height: 80%;
 }
.image-wrapper img{
     height: 70vw;
    width: 100%;
    
}
.outer1{
    flex-direction: column;
    height: 50vw;
    width: 100%;
   
 }
 .inner1{
    height: 100vw;
    width: 100vw; 
     align-items: center;
    justify-content: center;
 }
 .image-wrapper1{
    height: 80%;
   
 }
.image-wrapper1 img{
     height: 50vw;
    width: 100%;
}
.outer2{
    flex-direction: column;
    height: 50vw;
    width: 100%;
   
 }
 .inner2{
    height: 100vw;
    width: 100vw; 
     align-items: center;
    justify-content: center;
 }
 .image-wrapper2{
    height: 80%;
   
 }
.image-wrapper2 img{
     height: 50vw;
    width: 100%;
}
.outer3{
    flex-direction: column;
    height: 50vw;
    width: 100%;
   
 }
 .inner3{
    height: 100vw;
    width: 100vw; 
     align-items: center;
    justify-content: center;
 }
 .image-wrapper3{
    height: 80%;
   
 }
.image-wrapper3 img{
     height: 50vw;
    width: 100%;
}

}